# External libraries
/venv

# IDE configuration
/.idea
/.vscode

# Local configuration
config.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# DB files
*.db
*.db.lock